/* MOBILE */
@media only screen and (max-width: 480px) {
  .Section2 {
    height: 90svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .BrowserSearchContainer {
    width: 65svw;
    position: relative;
    margin-top: 100px;

    img {
      width: 100%;
    }

    p {
      width: 50%;

      position: absolute;
      top: 33%;
      left: 4%;
    }
  }
}
