/* PADRÃO */
.Section5 {
  display: flex;
  justify-content: center;
}
/* MOBILE */
@media only screen and (max-width: 480px) {
}
/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) and (min-height: 600px) {
  .Section5 {
    background: url("../assets/InfoCards/Rectangle-D.png") 0px -15px / 100svw
      100% no-repeat;
  }
}

/* DESKTOP */
@media only screen and (min-width: 769px) and (min-height: 600px) {
  .Section5 {
    background: url("../assets/InfoCards/Rectangle-D.png") 0px -15px / 100svw
      100% no-repeat;

    padding-top: 60px;
    margin-bottom: 50px;
  }
}
