/* PADRÃO */
@media only screen and (min-width: 0px) {
  .Section4 {
    height: 48svh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* MOBILE */
@media only screen and (max-width: 480px) {
}

/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Section4 {
    background: url("../assets/section4/Rectangle-D.png") 0 0 / 100svw 100%
      no-repeat;
  }
}
