.Main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.BackgroundImage {
  width: 100vw;
  height: 800px;

  position: absolute;
  z-index: -999;
  translate: 0px 150svh;

  background: url("@Assets/Rectangle-M.png") -5svw 0 / 105svw 480px no-repeat;
}

/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) and (min-height: 600px) {
  .BackgroundImage {
    background: none;
  }
  .Main {
    gap: 0px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 769px) and (min-height: 600px) {
  .Main {
    gap: 0px;
  }
  section {
    scroll-margin-top: 100px;
  }

  .BackgroundImage {
    display: none;
  }
}
