/* MOBILE */
@media only screen and (max-width: 480px) {
  .Main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .BackgroundImage {
    width: 100vw;
    height: 800px;

    background: url("./Rectangle-M.png") -5svw 0px / 105svw 600px no-repeat;

    position: absolute;
    z-index: -999;
    translate: 0px 150svh;
  }
}
