@media only screen and (max-width: 480px) {
  .CardSlider {
    display: flex;
    gap: 10px;

    button {
      font-size: 30px;
    }
  }
  .CardContainer {
    width: 256px;

    margin: auto;
  }
}
