/* PADRÃO */
@media only screen and (min-width: 0px) {
  .CardSlider {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .CardContainer {
    width: 256px;
  }
  .Button {
    width: 30px;
    height: 30px;

    mix-blend-mode: darken;

    margin-block: auto;
    background: url("./ButtonImage.png") 100% 100% / 100% 100% no-repeat;

    p {
      width: 1px;
      height: 1px;
      font-size: 1px;
      white-space: nowrap;
      position: absolute;
      left: 10px;
    }
  }

  .Next {
    rotate: 180deg;
  }
  .NextAnimation {
    translate: 0 0;

    animation: NextAnimation linear infinite 1s;
  }
}

/* MOBILE */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .CardContainer {
    margin: auto;
  }
}

/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .CardContainer {
    margin-inline: 25px;
  }
}

@keyframes NextAnimation {
  0%,
  15% {
    translate: 0 0;
  }
  50% {
    translate: -7px 0;
  }

  85%,
  100% {
    translate: 0 0;
  }
}
