:root {
  --logoImageWidth: 70px;
  --logoImageScale: calc(210px / 128px);
}

/* MOBILE */
@media only screen and (max-width: 480px) {
  .Header {
    height: 100vh;
    width: 80svw;
    background-color: var(--primaryBackgroundColor);

    padding: 10px;

    position: fixed;
    top: 0;
    z-index: 999;

    display: flex;
    flex-direction: column;

    transition: left 0.3s;

    &.MenuOpen {
      left: 0;
    }

    &.MenuClosed {
      left: -80svw;
    }
  }

  .Logo {
    width: var(--logoImageWidth);
    height: calc(var(--logoImageWidth) / var(--logoImageScale));

    margin: 25px 5px;

    position: relative;

    h1 {
      font-size: 1px;
    }

    img {
      background-color: var(--primaryBackgroundColor);
      width: 100%;

      cursor: pointer;

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .NavigationContainer {
    font-size: 20px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .NavigationButton {
    width: 100%;
    display: flex;
    align-items: center;

    button {
      font-family: Arial, Helvetica, sans-serif;
      display: inherit;
      align-items: inherit;
      cursor: pointer;

      margin: 10px;
    }
  }
}
