/* MOBILE */
@media only screen and (max-width: 480px) {
  .Footer {
    height: 50svh;
    padding-top: 100px;

    background: url("./Rectangle-M-2.svg") -100px 0px / 124svw 55svh no-repeat;

    display: grid;
    place-content: center;
    gap: 15px;

    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    small {
      width: 60%;
      text-align: center;
      margin: auto;
    }
  }
}
