/* MOBILE */
@media only screen and (max-width: 480px) {
  .Footer {
    --footerHeight: 360px;

    height: var(--footerHeight);

    background: url("./Rectangle-M-2.svg") -100px bottom / 150svw
      var(--footerHeight) no-repeat;
  }
  .Content {
    height: inherit;

    scale: 0.9;

    display: grid;
    place-content: end center;
    gap: 15px;

    span {
      display: grid;
      place-items: center;
      gap: 10px;
    }

    small {
      width: 60%;
      text-align: center;
      margin: auto;
    }
  }
}
