:root {
  --primaryBackgroundColor: #d6e8ff;
  --secondaryBackgroundColor: #3082fe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  appearance: none;
}

body {
  background-color: var(--primaryBackgroundColor);

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

button,
a,
h1 {
  all: unset;
}
