:root {
  --primaryBackgroundColor: #d6e8ff;
  --secondaryBackgroundColor: #3082fe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 330svh;
  background-color: var(--primaryBackgroundColor);
}

button,
a,
h1 {
  all: unset;
}
